@keyframes fade{from{opacity:0}to{opacity:1}}
body{background-color:black;color:#70b8ff;font-family:Verdana}
#wrap{display:flex;flex-flow:row wrap;align-items:flex-start;justify-content:flex-start}
#winv{}
#wbut{text-align:center}
button{width:100px;font-family:monospace;font-weight:bold}
input[type="text"],select,option{width:200px;font-family:monospace}
.inv{width:750px;display:flex;flex-flow:row wrap;align-items:center;justify-content:center}
.recept{position:relative;animation:fade 333ms 1 linear;animation-fill-mode:forwards;display:flex;flex-flow:row wrap;align-items:center;justify-content:flex-start}
.icon{width:50px;height:50px}
.item,.item2{width:60px;height:100px;border:1px solid gray;text-align:center;word-wrap:break-word}
.item{transition: background-color 333ms;cursor:pointer}
.item:hover{border-color:red}
.item_desc{font-size:55%;text-align:center}
.active{background-color:#783e48}
.desc{padding:3px;width:100%;border-bottom:3px solid dodgerblue}
#list{border-left:3px solid dodgerblue; width:600px}
.active_button{color:red}
.inactive_item{opacity:0.5}
.good{background-color:#783e48}
.fav_icon{padding:0 4px;position:absolute;right:0;top:0;cursor:pointer;font-size:150%}
#save_button{position:absolute;left:0;top:0}
#copywiki{position:fixed;left:0;bottom:0}
