body{
	background-color:#000;
	font-family: monospace;
	font-size: 20px;
	color: black;
	background-image: url(https://kachsiron.github.io/ftl/OOIpzHGwI_pxrFZgZMMNPmjeguBJI1El4jYARCxqrsc.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
h1{
	color: white;
	text-align: center
}
